/*
    HTML Elements
*/
*
{
    box-sizing: border-box;
}

html
{
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
    color: #444;
}

article,
aside,
footer,
header,
main,
menu,
nav,
section,
summary
{
  display: block;
}

audio,
canvas,
progress,
video
{
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls])
{
  display: none;
  height: 0;
}

[hidden],
template
{
  display: none;
}

a
{
  background-color: transparent;
  color: #222;
}

a:active,
a:hover
{
  outline: 0;
}

b,
strong
{
  font-weight: bold;
}

h1,h2,h3,h4,h5,h6
{
    font-weight: 500;
}

h1
{
    font-size: 2.2em;
    margin: 0.68em 0 0.34em 0;
}
h2
{
    font-size: 1.8em;
    margin: 0.83em 0 0.41em 0;
}
h3
{
    font-size: 1.5em;
    margin: 1em 0 0.5em 0;
}

h4 {
    font-size: 1.3em;
    margin: 1.15em 0 0.62em 0;
}

h5
{
    font-size: 1.2em;
    margin: 1.25em 0 0.8em 0;
}

h6
{
    font-size: 1em;
    margin: 1.5em 0 0.75em 0;
}

p
{
    font-size: 1em;
    margin: 1em 0;
    line-height: 1.4;
}

small
{
  font-size: 0.8em;
}

sub,
sup
{
  font-size: 0.7em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup
{
  top: -0.5em;
}

sub
{
  bottom: -0.25em;
}

img
{
  border: 0;
}

hr
{
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid #ccc;
}

pre
{
    font-family: Consolas, "Lucida Console", Monaco, monospace;
    display: block;
    overflow: auto;
    padding: 20px;
    margin: 0 0 20px;
    font-size: 0.9em;
    line-height: 1.4;
    color: #333;
    background: #eee;
    color: #222;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button,
input,
optgroup,
select,
textarea
{
  color: inherit;
  font: inherit;
  margin: 0;
}

button
{
  overflow: visible;
}

button,
select
{
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"]
{
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled]
{
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner
{
  border: 0;
  padding: 0;
}

input
{
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"]
{
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
{
  height: auto;
}

input[type="search"]
{
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
{
  -webkit-appearance: none;
}

input:focus,
select:focus,
textarea:focus
{
    outline: none;
}

fieldset
{
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 5px 8px 10px;
}

legend
{
  border: 0;
  padding: 0;
}

textarea
{
  overflow: auto;
}

optgroup
{
  font-weight: bold;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th
{
  padding: 0;
}

ul
{
    list-style-type: disc;
    list-style-position: outside;
    margin: 0 0 0 30px;
    padding: 0;
}

ol
{
    list-style-type: decimal;
    list-style-position: outside;
    margin: 0 0 0 30px;
    padding: 0;
}

/*
*	Depth
*/
.depth-1
{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 1;
}

.depth-2
{
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.depth-3
{
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 3;
}

.depth-4
{
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    z-index: 4;
}

.depth-5
{
	box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    z-index: 5;
}

.depth-6
{
	box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
    z-index: 6;
}

/*
*   Grid
*/
.row
{
    width: 100%;
    clear: both;
}

.row:after
{
  content:"";
  display:table;
  clear:both;
}

.col {
    float: left;
    min-height: 1px;
    vertical-align: top;
}

.col.s1
{
	width: 8.33%;
}

.col.s2
{
	width: 16.66%;
}

.col.s3
{
	width: 25%;
}

.col.s4
{
	width: 33.33%;
}

.col.s5
{
	width: 41.66%;
}

.col.s6
{
	width: 50%;
}

.col.s7
{
	width: 58.33%;
}

.col.s8
{
	width: 66.66%;
}

.col.s9
{
	width: 75%;
}

.col.s10
{
	width: 83.33%;
}

.col.s11
{
	width: 91.66%;
}

.col.s12
{
	width: 100%;
}

.col.offset-s1
{
    margin-left: 8.33%;
}

.col.offset-s2
{
    margin-left: 16.66%;
}

.col.offset-s3
{
    margin-left: 25%;
}

.col.offset-s4
{
	margin-left: 33.33%;
}

.col.offset-s5
{
	margin-left: 41.66%;
}

.col.offset-s6
{
	margin-left: 50%;
}

.col.offset-s7
{
	margin-left: 58.33%;
}

.col.offset-s8
{
	margin-left: 66.66%;
}

.col.offset-s9
{
	margin-left: 75%;
}

.col.offset-s10
{
	margin-left: 83.33%;
}

.col.offset-s11
{
	margin-left: 91.66%;
}

.col.offset-s12
{
	margin-left: 100%;
}


@media only screen and (min-width: 601px)
{
	.col.m1
	{
		width: 8.33%;
	}

	.col.m2
	{
		width: 16.66%;
	}

	.col.m3
	{
		width: 25%;
	}

	.col.m4
	{
		width: 33.33%;
	}

	.col.m5
	{
		width: 41.66%;
	}

	.col.m6
	{
		width: 50%;
	}

	.col.m7
	{
		width: 58.33%;
	}

	.col.m8
	{
		width: 66.66%;
	}

	.col.m9
	{
		width: 75%;
	}

	.col.m10
	{
		width: 83.33%;
	}

	.col.m11
	{
		width: 91.66%;
	}

	.col.m12
	{
		width: 100%;
	}

    .col.offset-m1
    {
        margin-left: 8.33%;
    }

    .col.offset-m2
    {
        margin-left: 16.66%;
    }

    .col.offset-m3
    {
        margin-left: 25%;
    }

    .col.offset-m4
    {
        margin-left: 33.33%;
    }

    .col.offset-m5
    {
        margin-left: 41.66%;
    }

    .col.offset-m6
    {
        margin-left: 50%;
    }

    .col.offset-m7
    {
        margin-left: 58.33%;
    }

    .col.offset-m8
    {
        margin-left: 66.66%;
    }

    .col.offset-m9
    {
        margin-left: 75%;
    }

    .col.offset-m10
    {
        margin-left: 83.33%;
    }

    .col.offset-m11
    {
        margin-left: 91.66%;
    }

    .col.offset-m12
    {
        margin-left: 100%;
    }
}

@media only screen and (min-width: 981px)
{
	.col.l1
	{
		width: 8.33%;
	}

	.col.l2
	{
		width: 16.66%;
	}

	.col.l3
	{
		width: 25%;
	}

	.col.l4
	{
		width: 33.33%;
	}

	.col.l5
	{
		width: 41.66%;
	}

	.col.l6
	{
		width: 50%;
	}

	.col.l7
	{
		width: 58.33%;
	}

	.col.l8
	{
		width: 66.66%;
	}

	.col.l9
	{
		width: 75%;
	}

	.col.l10
	{
		width: 83.33%;
	}

	.col.l11
	{
		width: 91.66%;
	}

	.col.l12
	{
		width: 100%;
	}
    .col.offset-l1
    {
        margin-left: 8.33%;
    }

    .col.offset-l2
    {
        margin-left: 16.66%;
    }

    .col.offset-l3
    {
        margin-left: 25%;
    }

    .col.offset-l4
    {
        margin-left: 33.33%;
    }

    .col.offset-l5
    {
        margin-left: 41.66%;
    }

    .col.offset-l6
    {
        margin-left: 50%;
    }

    .col.offset-l7
    {
        margin-left: 58.33%;
    }

    .col.offset-l8
    {
        margin-left: 66.66%;
    }

    .col.offset-l9
    {
        margin-left: 75%;
    }

    .col.offset-l10
    {
        margin-left: 83.33%;
    }

    .col.offset-l11
    {
        margin-left: 91.66%;
    }

    .col.offset-l12
    {
        margin-left: 100%;
    }
}

.pull-left
{
    float: left;
}

.pull-right
{
    float: right;
}

.button
{
    display: inline-block;
    width: auto;
    padding: 0px 15px;
    height: 42px;
    line-height: 40px;
    border-radius: 4px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.button:hover
{
    color: #333;
    background-color: #eee;
    border-color: #ccc;
}

.button:focus,
.button.focus
{
    color: #333;
    background-color: #eee;
    border: 1px solid #aaa;
    outline: 0;
}

.button:active,
.button.active
{
    color: #333;
    background-color: #eee;
    border-color: #aaa;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.10);
}

.button.disabled,
.button.disabled:hover,
.button.disabled:focus,
.button.disabled:active
{
    cursor: not-allowed;
    color: #aaa;
    background-color: #fff;
    border-color: #ddd;
    box-shadow: none;
}

.button.block
{
    display: block;
    width: 100%;
}

.button.pill{
    border-radius: 15px;
}

.button-group {
    display: inline-block;
    zoom: 1;
}

.button-group .button {
    float: left;
    margin-left: -1px;
}

.button-group > .button:first-child
{
    margin-left: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button-group > .button:not(:first-child):not(:last-child)
{
    border-radius: 0;
}

.button-group > .button:last-child
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.table
{
    width: 100%;
    empty-cells: show;
}

.table td,
.table th
{
    padding: 10px;
    line-height: 1.5;
    vertical-align: middle;
    text-align: left;
}

.table th
{
    border-bottom: 2px solid #ddd;
    font-weight: 600;
}

.table td
{
    border-top: 1px solid #ddd;
}

.table.striped tbody tr:nth-child(odd)
{
    background: #eee;
}

.form-block
{
    display: block;
    margin-bottom: 15px;
}

.form-block input
{
    display: block;
    width: 100%;
    height: 42px;
    padding: 6px 12px;
    font-size: 1em;
    line-height: 1.4;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-block p.help-text
{
    display: block;
    color: #555;
    margin: 0;
    margin: 5px 0 10px;
    font-size: 0.9em;
}

.form-block select
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-block textarea
{
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-block .file-input .button
{
    display: inline-block;
    position: absolute;
    overflow: hidden;
    border-radius: 4px 0 0 4px;
}

.form-block .file-input .button input
{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 0;
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

.form-block .file-input input
{
    display: inline-block;
    width: 100%;
}

.checkbox label, .radio label
{
    display: block;
    line-height: 24px;
    width: 100%;
    cursor: pointer;
    vertical-align: middle;
}

.checkbox input, .radio input
{
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.checkbox.inline, .radio.inline {
    display: inline-block;
    margin: 0 15px 0 0;
}

.valign-wrapper
{
    display: table;
}

.valign
{
    display: table-cell;
    vertical-align: middle;
}

.dropdown
{
    position: relative;
    display: inline-block;
}

.dropdown .dropdown-menu
{
    display: none;
    position: absolute;
    background: #fff;
    width: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 0;
    margin: 3px 0;
}

.dropdown-menu li
{
    list-style: none;
	white-space: nowrap;
}

.dropdown-menu li a
{
    display: block;
    padding: 3px 20px;
    white-space: nowrap;
    color: #333;
}

.popup
{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.popup-window
{
    opacity: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    width: 600px;
    margin: 50px auto;
}

.popup .popup-header
{
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.popup .popup-header h1,
.popup .popup-header h2,
.popup .popup-header h3
{
    margin: 0;
}

.popup .popup-body
{
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.popup .popup-footer
{
    padding: 20px;
    background: #f8f8f8;
}

.circle {
    border-radius: 50%;
}

.rounded {
    border-radius: 10%;
}